## Spring

/server/HELP.md
/server/target/
/server/!.mvn/wrapper/maven-wrapper.jar
/server/!**/src/main/**/target/
/server/!**/src/test/**/target/

### IntelliJ IDEA ###
/server/.idea
/server/*.iws
/server/*.iml
/server/*.ipr

### VS Code ###
/server/.vscode/


## React

# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
/client/.DS_Store
/client/*.pem

# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# local env files
/client/.env*.local

# vercel
/client/.vercel

# typescript
/client/*.tsbuildinfo
/client/next-env.d.ts
