@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #C3C3C2;
  background: #131318;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: white;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.caption {
  position: absolute;
  padding: 2px 0px;
  top: 90%;
  left: 50%;
  transform: translate( -50%, -50% );
  backdrop-filter: blur(5px);
  backdrop-filter: gray(80%);
  border: none;
  border-radius: 5px;
}

/* User dropdown */
.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100px;
  z-index: 2;
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.element {
  padding: 8px 12px;
  border-bottom: 1px solid black;

  &:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
  }
}
